DirectoryIndex index.php

RewriteEngine On

RewriteBase /phpIAD/gym-website-php-version-main/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1 [L,QSA]
